<div ng-include="'nav/nav.html'"></div>

<h2>About this handsome guy named Allen</h2>
<div class='container'>
  <div class="row">
    <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quibusdam tenetur nisi, vel consectetur fugit iste tempora alias distinctio illum, laboriosam molestias enim! Consequatur fugit laborum optio blanditiis nobis enim. </div>

    <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quibusdam tenetur nisi, vel consectetur fugit iste tempora alias distinctio illum, laboriosam molestias enim! Consequatur fugit laborum optio blanditiis nobis enim. </div>

    <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quibusdam tenetur nisi, vel consectetur fugit iste tempora alias distinctio illum, laboriosam molestias enim! Consequatur fugit laborum optio blanditiis nobis enim. </div>
  </div>
</div>

