body {
  width: 100%;
}
#bio {
  height: 500px;
  display: inline;
  width: 200px;
}
#full-stack {
  color: white;
}

#bio > p {
  display: inline;
}
#projects-list > table {
  display: inline;
}

#professional-ex {
  z-index: 3;
  height: 85px;
  opacity: .8;
  background: white;
  position: absolute;
  top: 517px;
  width: 350px;
}

#firstname {
  color: #5C4D14;
  font-family: Gill Sans, Verdana;
  font-size: 81px;
  line-height: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;
  margin-right: 10px;
  top: 40px;
 }

#lastname {
  text-transform: uppercase;
  color: #7FFF56;
  font-size: 81px;
  opacity: .2;
  position: relative;
  left: -3px;
  top: 24px;
 }

 #bio > p {
   line-height: 22px;
   letter-spacing: 1px;
   top: 120px;
   position: relative;
   margin: 0px 20px;
   color: white;
   font-size: 20px;
   font-family: 'Alice', serif;
 }

 .first-layer {
   width: 100%;
   height: 500px;
   background: #1C1D1B;
   position: absolute;
   top: 0px;
   left: 0px;
 }





 p > span {
   text-decoration: line-through;
 }

 #professional-ex  > p:first-child {
   font-size: 30px;
   float: right;
   margin-right: 10px;
   text-transform: uppercase;
   display: inline;
   position: relative;
   top: -27px;
 }

 #company {
   margin-left: 36px;
   display: inline;
   font-size: 22px;
   color: #BA4A30;
   position: relative;
   font-family: Gill Sans, Verdana;
   top: 38px;
 }

 #date {
   font-size: 17px;
   color: #BA4A30;
   font-family: Gill Sans, Verdana;
   position: relative;
   top: 17px;
   left: 184px;
   display: inline;
 }


 #toolbox {
  z-index: 3;
  height: 160px;
  opacity: .8;
  background: white;
  position: absolute;
  top: 632px;
  width: 344px;
  right: 10px; 
}

 #projects-list {
  z-index: 3;
  height: 100px;
  opacity: .8;
  background: white;
  position: absolute;
  top: 821px;
  width: 350px;
 }

 #projects-list > p {
   font-size: 30px;
   float: right;
   margin-right: 10px;
   text-transform: uppercase;
   position: relative;
   top: -27px;
 }

 #projects-list > table {
   position: relative;
   width: 100%;
   top: -55px;
 }


 #green-left {
   background: #7FFF56;
   width: 40%;
   height: 437px;
   position: absolute;
   display: inline;
   top: 500px;
   left: 0px;
 }

 table {
   margin-left: 30px;
   font-size: 22px;
   color: #BA4A30;
   font-family: Gill Sans, Verdana;
 }

 #black-right {
   background: #4c4c4c;
   background: -moz-linear-gradient(45deg,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #111111 67%, #111111 67%, #000000 70%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
   background: -webkit-linear-gradient(45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#111111 67%,#111111 67%,#000000 70%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); 
   background: linear-gradient(45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#111111 67%,#111111 67%,#000000 70%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); 
   width: 60%;
   height: 437px;
   position: absolute;
   top: 500px;
   right: 0;
 }



 #toolbox > p {
   font-size: 30px;
   margin-left: 10px;
   text-transform: uppercase;
   position: relative;
   top: -27px;
 }

 #toolbox > table {
   position: relative;
   top: -52px;
   left: -7px;
 }







/*@media (max-width: 768px) { 
  #lastname {
    left: -177px;
    top: 96px;
  }

  #professional-ex {

  }

  #toolbox {
    width: 460px;
  }

  #toolbox > table > tbody > tr > td {
    font-size: 22px;
  }

  #toolbox > table {
    border-collapse:separate;
    border-spacing:28px 1px;
  }


}
*/
















/*@media (max-width: 580px) { 
  #toolbox {
    left: 30px;
    width: 450px;
  }
 #toolbox > table {
    border-collapse:separate;
    border-spacing:20px 1px;
  }
  table > tbody > tr > td {
    left: 0px;
    position: relative;
    margin-right: 10px;

  }

}
*/

@media (min-width: 100px) { 
  td, #company, #date {
    font-size: 16px;
  }
  #company {

  }
  #toolbox > table > tbody > tr > td {
    left:0px;
  }

  table  {
    border-collapse:separate;
    border-spacing:20px 3px;
  }

  table > tbody > tr > td {
    position: relative;
    margin-right: 10px;
  }

  #full-stack {
    text-align: center;
    position: relative; 
    top: 20px;
    font-size: 24px;
  }

}


@media (min-width: 400px) {

  #toolbox {
    left: 30px;
    width: 380px;
  }

  td, #company, #date {
    font-size: 17px;
  }

  #projects-list {
    left: 13px;
    width: 300px;
  }


  #professional-ex > p:first-child {
    left: -90px;
  }

  #toolbox > table > tbody > tr > td {
    font-size: 16px;
    left: -20px;
  }

  #projects-list > table > tbody > tr > td {
    font-size: 16px;
    left: -20px;
  }

  #toolbox > table {
    border-collapse:separate;
    border-spacing:30px 1px;
  }

/*  table > tbody > tr > td {
    left: 0px;
    position: relative;
    margin-right: 10px;

  }*/

}






@media (min-width: 768px) { 
  .overlay {
    left: 10%;
  }

  td, #company, #date {
    font-size: 23px !important;
  }

  #projects-list {
    left: 8%;
    width: 400px;
    height: 107px;
  }

  #professional-ex {
    left: 6%
  }

  #full-stack {
    font-size: 40px;
  }

  #company{
    width: 300px;
    display: inline-block;
    top: -73px;
  }

  #date{
    width: 300px;
    display: inline-block;
    top: -145px;
  }

  #toolbox {
    left: 30%;
    width: 500px;
  }

  #toolbox > table {
    left: 18px;
  }

  table {
    border-collapse:separate;
    border-spacing:28px 1px;
  }

  #firstname {
    font-size: 112px;
  }


}


@media (min-width: 960px) {

  .overlay {
    left: 15%;
  }


}