 

      <!-- Static navbar -->
      <nav >
        <div >
          <div >
            <ul class="navvy">

              <li ng-click="scrollTo('top')" ng-class="{active: isActive('/')}" ng-click="scrollTo('top')"><a ui-sref="main" >top</a>
              </li>

              <li ng-click="scrollTo('about')" ng-class="{active2: isActive('/')}"><a>about</a>
              </li>

              <li ng-click="scrollTo('blogs')" ng-class="{active3: isActive('/')}"><a>blogs</a>
              </li>

              <li ng-click="scrollTo('contact')" ng-class="{active5: isActive('/')}"><a>contact</a>
              </li>

              <li ng-class="{active4: isActive('/gallary')}"><a ui-sref="gallary">api gallary </a>
              </li>

            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>



<p id="top"></p>
<div id="name">
  Allen Mackey
</div>
<h1>
  <span>Full-Stack Software Engineer</span>
</h1>

<div class="intro">
  Here's a joke! What's Javascript's favorite ice-cream? Vanilla! Get it? Or do you <i> Git </i> it?
</div>

<div class="container">
  <div class="row">
    <div  ng-repeat="skill in skills">
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <div class="skills">{{skill.num}}% <br>   {{skill.type}}
        </div>
        <circular-progress
            value="skill.num"
            max="100"
            orientation="1"
            radius="80"
            stroke="5"
            base-color="#95DBD0"
            progress-color="{{skill.color}}"
            iterations="100"
            animation="easeInOutCubic"
        ></circular-progress>


      </div>
    </div>    
  </div>
</div>



<!--   <div>80% JS</div>
  <circular-progress
      value="80"
      max="100"
      orientation="1"
      radius="80"
      stroke="20"
      baseColor="#a2a2a2"
      progressColor="#ca2014"
      iterations="100"
      animation="easeInOutCubic"
  ></circular-progress>
  

  <div>80% CSS3</div>
    <circular-progress
      value="50"
      max="100"
      orientation="1"
      radius="80"
      stroke="20"
      baseColor="#a2a2a2"
      progressColor="#ca2014"
      iterations="100"
      animation="easeInOutCubic"
  ></circular-progress>

  <div>95% HTML5</div>
    <circular-progress
      value="50"
      max="100"
      orientation="1"
      radius="80"
      stroke="20"
      baseColor="#a2a2a2"
      progressColor="#ca2014"
      iterations="100"
      animation="easeInOutCubic"
  ></circular-progress>

    <div>75% Node</div>
    <circular-progress
      value="50"
      max="100"
      orientation="1"
      radius="80"
      stroke="20"
      baseColor="#a2a2a2"
      progressColor="#ca2014"
      iterations="100"
      animation="easeInOutCubic"
  ></circular-progress>

    <div>100% Personality</div>
    <circular-progress
      value="50"
      max="100"
      orientation="1"
      radius="80"
      stroke="20"
      baseColor="#a2a2a2"
      progressColor="#ca2014"
      iterations="100"
      animation="easeInOutCubic"
  ></circular-progress> -->



<!-- <div class="container text-center technologies">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
 
      <p>Javascript</p>
      <p>Angular</p>
      <p>HTML5</p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <p>React</p>
      <p>Node</p>
      <p>NoSQL</p>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3">
        <p>jQuery</p>
        <p>CSS</p>
        <p>Bootstrap</p>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3">
        <p>Express</p>
        <p>SQL</p>
        <p>Gulp</p>
    </div>

    
  </div>
</div> -->

<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<div id="about">about section</div>
  <p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<div id="blogs">blogs section</div>
  <p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<div id="contact">contact section</div>
  <p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>...</p>