 /*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

  #my-work {
    position: relative;
    width: 100%;
    height: 1200px;
    background: white;
  }  
  /*images*/
  .my-apps div > a > img {
    width: 300px;
    height: 200px;
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 20px;
    border: 2px solid black;
  }

  /*text*/
  .my-apps > div > p {
    position: relative;
    top: 40px;
    font-family: 'Raleway',sans-serif; 
    font-size: 23px; 
    font-weight: 800;
    padding-bottom: 5px;
  }
  /*coming soon*/
  .my-apps > div > span > p{
    position: relative;
    top: 20px;
    color: black;
    font-size: 16px;
    font-weight: none;
  }

  /*pop ups*/
  .popped {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 200px;
    border: 4px solid black;
  }
  .mocks {
    width: 280px;
    height: 200px;
    border: 2px solid black;
  }
  
  .mock-ups > div > div > img {
    font-weight: bold;
    position: relative;
    top: 50px;
    cursor: pointer;
  }

  .mock-ups > h2 {
    position: relative;
    top: 20px;
  }

  .blur {
    -webkit-filter: blur(6px);
    -mox-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
    background: #000000;
    opacity: 0.7px;
  }
}

 /*Extra Small Devices, Phones  */
@media only screen and (min-width : 480px) {

  #my-work {
    position: relative;
    width: 100%;
    height:1290px;
    background: white;
  }

  /*images*/
  .my-apps div > a > img {
    width: 300px;
    height: 200px;
    position: relative;
    padding: 0px;
    /*margin: 0 auto;*/
    top: 50px;
    border: 2px solid black;
  }


  /*app title*/ 
  .my-apps > div > p {
    position: relative;
    top: 70px;
    font-family: 'Raleway',sans-serif; 
    font-size: 32px; 
    font-weight: 800;
  }

    /*coming soon*/
  .my-apps > div > span > p {
    position: relative;
    top: 50px;
    color: black;
    font-size: 16px;
    font-weight: none;
  }

  .mock-ups > div > div > img {
    font-weight: bold;
    position: relative;
    top: 70px;
    cursor: pointer;
  }

  .mock-ups > h2 {
    position: relative;
    top: 60px;
  }

  .blur {
    -webkit-filter: blur(6px);
    -mox-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
    background: #000000;
    opacity: 0.7px;
  }

  /*pop up*/
  .popped {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 120px;  
    border: 4px solid black;
  }

}

/* Small Devices, Tablets  */
@media only screen and (min-width : 768px) {
  #my-work {
    position: relative;
    width: 100%;
    height: 740px;
    background: white;
  }

  /*images*/
  .my-apps div > a > img {
    width: 300px;
    height: 200px;
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 50px;
    border: 2px solid black;
  }


  /*app title*/ 
  .my-apps > div > p {
    position: relative;
    top: 70px;
    font-family: 'Raleway',sans-serif; 
    font-size: 32px; 
    font-weight: 800;
  }

    /*coming soon*/
  .my-apps > div > span > p {
    position: relative;
    top: 50px;
    color: black;
    font-size: 16px;
    font-weight: none;
  }
    /*images*/
  .mock-ups > div > div > img {
    font-weight: bold;
    position: relative;
    top: 100px;
    cursor: pointer;
  }

  .mock-ups > h2 {
    position: relative;
    top: 90px;
  }

  .blur {
    -webkit-filter: blur(6px);
    -mox-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
    background: #000000;
    opacity: 0.7px;
  }

  /*pop up*/
  .popped {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 120px;  
    border: 4px solid black;
    left: 0px;
  }

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #my-work {
    position: relative;
    width: 100%;
    height: 740px;
    background: white;
  }

  /*images*/
  .my-apps div > a > img {
    width: 300px;
    height: 200px;
    position: relative;
    padding: 0px;
    /*margin: 0 auto;*/
    top: 50px;
    border: 2px solid black;
  }


  /*app title*/ 
  .my-apps > div > p {
    position: relative;
    top: 70px;
    font-family: 'Raleway',sans-serif; 
    font-size: 32px; 
    font-weight: 800;
  }

    /*coming soon*/
  .my-apps > div > span > p {
    position: relative;
    top: 50px;
    color: black;
    font-size: 16px;
    font-weight: none;
  }

  .mock-ups > div > div > img {
    font-weight: bold;
    position: relative;
    top: 100px;
    cursor: pointer;
  }

  .mock-ups > h2 {
    position: relative;
    top: 90px;
  }

  .blur {
    -webkit-filter: blur(6px);
    -mox-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
    background: #000000;
    opacity: 0.7px;
  }

  /*pop up*/
  .popped {
    width: 50%;
    z-index: 1;
    position: fixed;
    left: 25%;
    top: 120px;  
    border: 4px solid black;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}

.skills {
  position: relative;
  top: 110px;
  text-align: center;
}

body {
  background-color: #1C1C20;
  color: white;
} 

nav {
  z-index: 2;
  position: fixed;
  top: 5px;
  height: 75px;
  background: #1C1C20;
  width: 100%;
  float: left;
  margin-bottom: 15px;
  opacity: .9;
}
h1 span {
  color:#FFA25E;
  position: relative;
  top: 70px;
}

nav > div > div > ul > li:hover { 
cursor: pointer;
}

#about {
  font-size: 60px;
  border-top: 5px white solid;
  border-bottom: 5px white solid;
  text-align: center;
  position: relative;
  top: 80px;
}

.technologies {
  padding-top: 8px;
  font-size: 20px;
}
/*.container {
  padding-bottom: 40px;
}*/

ul li {
  display: inline-block;
  margin: 5px;
  padding: 0px;
}

#nav li {
  display: inline;
}

.intro {
  font-size: 18px;
  position: relative;
  top: 70px;
}

#circular-skills {
  position: relative;
  top: 50px;
}


.github > a > img{
  width: 40px;
  height: 40px;
}

.linked-in > a > img{
  width: 40px;
  height: 40px;
}


div > p > span {
  text-decoration: line-through;
}

#blogs {
  width: 100%;
  height: 500px;
  background: #59A1B0;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 75px;
}
#blogs > p {
  position: relative;
  top: 110px;
  font-size: 25px;
}

/*medium logo*/
#blogs > a > img {
  width: 170px;
  height: 170px;
  position: relative;
  top: 150px;
}

/*#my-work {
  position: relative;
  width: 100%;
  height:900px;
  background: white;
}*/

/*text*/
#my-work {
  color: black;
}

/* what have i done*/
#my-work > p {
  text-align: center;
  position: relative;
  top: 40px;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 32px; 
  color: #333;
}


/*.my-apps div > a > img {
  width: 400px;
  height: 250px;
  position: relative;
  padding: 12px;
  margin: 0 auto;
  top: 75px;
}*/

#contact {
  position: relative;
  top: 100px;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  height: 200px;
  background: #3A8A4B;
}

#contact > p {
  font-size: 21px;
  font-weight: bold;
  color: #1F1D32;
  text-align: center;
  position: relative;
  top: 30px;
}

#contact > p > span {
  color: white;
  text-decoration: none;
}

.navvy > li > a,
.navvy > li > a:focus {
  margin: 4px;
  /*color: #D4D4D4;*/
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
  font-size: 25px;
  font-style: italic;
  font-variant: normal;
  font-weight: 100;
  line-height: 12.5px;
}

.navvy > .activ > a,
.navvy > .active > a:hover,
.navvy > .active > a:focus {
  color: #6AF5FF;
  /*border-bottom: 2px #fff solid;*/
}

.navvy > .active2 > a,
.navvy > .active2 > a:hover,
.navvy > .active2 > a:focus {
  color: #9AFF86;
  /*border-bottom: 2px #fff solid;*/
}

.navvy > .active3 > a,
.navvy > .active3 > a:hover,
.navvy > .active3 > a:focus {
  color: #FFABE8;
  /*border-bottom: 2px #fff solid;*/
}

.navvy > .active4 > a,
.navvy > .active4 > a:hover,
.navvy > .active4 > a:focus {
  color: #FF8271;
  /*border-bottom: 2px #fff solid;*/
}

.navvy > .active6 > a,
.navvy > .active6 > a:hover,
.navvy > .active6 > a:focus {
  color: #89FFF3;
  /*border-bottom: 2px #fff solid;*/
}

.navvy > .active5 > a,
.navvy > .active5 > a:hover,
.navvy > .active5 > a:focus {
  color: #ECFFC8;
  /*border-bottom: 2px #fff solid;*/
}






