.skills {
  position: relative;
  top: 110px;
  text-align: center;
}

body {
  background-color: #1C1C20;
  color: white;
} 

nav {
  z-index: 2;
  position: fixed;
  top: 5px;
  height: 55px;
  background: #1C1C20;
  width: 100%;
  float: left;
  margin-bottom: 15px;
  opacity: .9;
}
h1 span {
  color:#FFA25E;
  position: relative;
  top: 70px;
}



#name {
  font-size: 60px;
  border-top: 5px white solid;
  border-bottom: 5px white solid;
  text-align: center;
  position: relative;
  top: 80px;
}
.technologies {
  padding-top: 8px;
  font-size: 20px;

}
.container {
  padding-bottom: 40px;
}

ul li {
  display: inline-block;
  margin: 5px;
  padding: 0px;
}

#nav li {
  display: inline;
}

.intro {
  font-size: 18px;
  position: relative;
  top: 70px;
}


.navvy > li > a,
.navvy > li > a:focus {
  margin: 4px;
  /*color: #D4D4D4;*/
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
  font-size: 25px;
  font-style: italic;
  font-variant: normal;
  font-weight: 100;
  line-height: 12.5px;
}

.navvy > .activ > a,
.navvy > .active > a:hover,
.navvy > .active > a:focus {
  color: #6AF5FF;
  /*border-bottom: 2px #fff solid;*/
}

.navvy > .active2 > a,
.navvy > .active2 > a:hover,
.navvy > .active2 > a:focus {
  color: #9AFF86;
  /*border-bottom: 2px #fff solid;*/
}

.navvy > .active3 > a,
.navvy > .active3 > a:hover,
.navvy > .active3 > a:focus {
  color: #FFABE8;
  /*border-bottom: 2px #fff solid;*/
}

.navvy > .active4 > a,
.navvy > .active4 > a:hover,
.navvy > .active4 > a:focus {
  color: #FF8271;
  /*border-bottom: 2px #fff solid;*/
}

.navvy > .active5 > a,
.navvy > .active5 > a:hover,
.navvy > .active5 > a:focus {
  color: #ECFFC8;
  /*border-bottom: 2px #fff solid;*/
}