 

      <!-- Static navbar -->
      <nav >
        <div >
          <div >
            <ul class="navvy col-xs-12">

              <li ng-click="scrollTo('top')" ng-class="{active: isActive('/')}" ng-click="scrollTo('top')"><a ui-sref="main" >top</a>
              </li>

              <li ng-click="scrollTo('about')" ng-class="{active2: isActive('/')}"><a>about</a>
              </li>



              <li ng-click="scrollTo('blogs')" ng-class="{active3: isActive('/')}"><a>blogs</a>
              </li>

              <li ng-click="scrollTo('contact')" ng-class="{active6: isActive('/')}"><a>contact</a>
              </li>

              <li ng-click="scrollTo('my-work')" ng-class="{active5: isActive('/')}"><a>apps</a>
              </li>

              <li ng-class="{active4: isActive('/gallary')}"><a ui-sref="gallary">api gallery </a>
              </li>
              <li class="github"> <a href="https://github.com/armackey"><img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" alt="github logo"></a></li>
              <li class="linked-in"><a href="https://www.linkedin.com/in/allenmackey1"> <img src="http://187.7.106.13/nataniel/OFICINAS/Oficina_PREZI/Material_apoio/Imagens/linkedin-icon-black.png" alt="linkedIn photo"></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>



<p id="top"></p>
<div id="about">
  Allen Mackey
</div>
<h1>
  <span>Full-Stack Software Engineer</span>
</h1>

<div class="container">
  <div class="row">
    <h3 class="intro text-center" >'insert clever title'</h3>
    <div class="intro col-sm-4 col-md-4">
      <p>Thanks for checking out my page. As a token of my gratitude, here's a joke! What's Javascript's favorite ice-cream? Vanilla! Get it? Or do you <i> Git </i> it? Hilarious, right? Okay, in all seriousness, I have a passion for programming and frozen yogurt.</p>
    </div>   
    <div class=" intro col-sm-4 col-md-4">
      <p>I originally got into programming because of an idea I had sometime ago. It's based off the web moving in real time. That's when I found WebRTC. Every article surrounding it mentioned Javascript. Since then, Javascript and I have become an <span>object </span> item.</p>
    </div> 
    <div class="intro col-sm-4 col-md-4">
      <p>Javascript and I may have something special but I can't allow her to limit my potential. That's why I celebrate the student mentality. Staying curious and continuing to learn. Php is next!</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div id="circular-skills">
      <div  ng-repeat="skill in skills">
        <div class="col-xs-6 col-sm-4 col-md-4 text-center">
          <div class="skills">{{skill.num}}% <br>   {{skill.type}}
          </div>
          <circular-progress
              value="skill.num"
              max="100"
              orientation="1"
              radius="80"
              stroke="7"
              base-color="#95DBD0"
              progress-color="{{skill.color}}"
              iterations="100"
              animation="easeInOutCubic"
          ></circular-progress>


        </div>
      </div> 
    </div>   
  </div>
</div>

<div id="blogs">
  <p>Enjoy reading and don't mind programming obsession? Then check out my blog!</p>
  <a ng-href="https://medium.com/@ARMackey"><img src="http://static1.squarespace.com/static/535166e1e4b095a1b0b3bfca/t/54501daee4b0fc25c59d9fa7/1414536623224/" alt="medium logo"></a>
</div>

<div id="my-work">
  <p>What Have I Done?</p>
  <div class="container">
    <div class="row">
      
        
        <div class="my-apps">

          <div class="col-sm-4 col-md-4 col-xs-12 text-center">    
            <p>MapSnap</p>
            <a href="https://stormy-oasis-6824.herokuapp.com/"><img class="img-responsive center-block"  src="../images/mapsnap2.png"  alt="MapSnap-app"></a>
          </div> 

          
          <div class="col-sm-4 col-md-4 col-xs-12 text-center">  
            <p>Freeday</p>
            <a href="https://github.com/Team-Man-O-War/freeday"><img class="img-responsive center-block" src="../images/freeday.png"  alt="freeday-app"></a>
            <span><p>Coming soon!</p></span>
          </div> 
          

          
          <div class="col-sm-4 col-md-4 col-xs-12 text-center">
            <p>Video Dates</p>
             <a ><img class="img-responsive center-block" src="../images/blnk.png" alt=""></a>
            <span><p>Coming soon!</p></span>
          </div> 
          
      </div>
    </div>
  </div>
</div>

<div id="contact" >
  <p class="col-sm-8 col-sm-offset-2">You made it this far! WOOT!! WOOT!! I'm located in Los Angeles, Ca but I am looking for positions all over the country. Feel free to contact me at <span> mackey91@gmail.com.</span> Thank you!</p>
</div>
  