  <nav ng-controller="mainCtrl">

        <ul class="navvy">

          <li ng-click="scrollTo('top')" ng-class="{active: isActive('/')}" 
              ng-click="scrollTo('top')"><a ui-sref="main" >back</a>
          </li>

          <li ng-class="{active4: isActive('/gallary')}">
            <a ui-sref="gallary">api gallery </a>
          </li>

        </ul>

  </nav>

  <div class="top-gallary">

      <h4>These are RANDOM pictures from Instagram (#pets) and Imgur <br>
        new photos in {{counter}}
      </h4>
    
     <div class="col-xs-12 load" ng-hide="loading" >
       <i class="fa fa-spinner fa-spin"></i>
        loading.. Warning some photos are <br><span>NSFW!</span>
     </div>

 </div>



<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center photos" ng-repeat="photo in instagram track by $index" ng-class="{'flipper': photo.flipped}">

        <div class="flip-container">

          <div class="flipper" >

              <div class="back">
                <img ng-src="{{photo.url}}" class="photo">
                  <a ng-href="https://instagram.com/{{photo.username}}"> {{photo.username}} 
                  </a>
              </div> 

            <div class="front">
              <div ng-repeat="photo in imgur track by $index">
                    <img ng-src="{{photo.url}}" class="photo imgur" />
                      <a ng-href="https://instagram.com/{{photo.username}}"> {{photo.username}} 
                      </a>
              </div>        
            </div>

          </div>

        </div>

    </div>
  </div>
</div>
