<div ng-include="'nav/nav.html'"></div>
  <div>Random pictures from Instgram and Imgur(meme section)</div>
  <div> new photos in {{counter}} </div>
 <div class="load" ng-hide="loading" >
   <i class="fa fa-spinner fa-spin"></i>
    loading.. Warning some photos are <span>NSFW!</span>
 </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12  text-center" ng-repeat="photo in instagram track by $index">
      <img src="{{photo.url}}" class="photo">
        <a ng-href="https://instagram.com/{{photo.username}}"> {{photo.username}} </a>
    </div> 

    <div class="col-xs-12  text-center" ng-repeat="photo in imgur track by $index">
      <img src="{{photo.url}}" class="photo imgur">
        <a ng-href="https://instagram.com/{{photo.username}}"> {{photo.username}} </a>
    </div>    

  </div>
</div>




<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <!-- front content -->
    </div>
    <div class="back">
      <!-- back content -->
    </div>
  </div>
</div>